@mui:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=4968d96c14b443610ab9548eaa7a149aTz0xMTI3OTAsRT0xNzc4NDU3NTk5MDAwLFM9cHJvLExNPXN1YnNjcmlwdGlvbixQVj1RMy0yMDI0LEtWPTI=
@mui:username=${NPM_USERNAME}
@mui:_password=${NPM_PASSWORD}
@mui:email=${NPM_EMAIL} 